body {
  background: #ffba00;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

main {
  background: blanchedalmond;
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  border-radius: 5px;
}

h1 {
  margin: 3rem 1rem 6rem 1rem;
}
